* {
	box-sizing: border-box;
}

.main {
	width: fit-content;
	height: auto;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: fit-content;
}

.square {
	height: 20px;
	width: 20px;
	border: 1px solid black;
	margin: 0;
}
