* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.main {
	max-width: 1000px;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: fit-content;
	height: auto;
}

.square {
	min-height: 10px;
	min-width: 10px;
	margin: 0;
	border: 1px solid black;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}
