* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	font-family: 'Work Sans';
	background: linear-gradient(to right, rgb(247, 247, 247) 0%, rgb(243, 227, 213) 100%);
}

.main {
	width: 850px;
	height: 850px;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: center;
	align-items: center;
	background-color: brown;
	border-radius: 10px;
}
header {
	text-align: center;
}

#nav {
	display: flex;
	width: 20rem;
	justify-content: space-between;
}

button {
	outline: none;
	border: none;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 20px;
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: fit-content;
	height: auto;
}

.square {
	width: 15px;
	height: 15px;
	margin: 0;
	border: 1px solid black;
	background-color: white;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}
